/**
 * NEEDS WORK
 */

audio {
  width: 100%;
}

.media-audio-playlist {
  background: #ddd;
}

#playlist {
  list-style-type: none;
  padding: 0;
}

#playlist li a {
  color: #333;
  padding: 5px;
  display: block;
}

#playlist .active a,
#playlist li a:hover {
  text-decoration: none;
  color: #eee;
  background: #555;
}
