{#
/**
 * @file
 * Theme implementation for a playlist generated from a multi-value
 * audio file field.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - extravalue: Options for the audio tag taken from the settings.
 * - tracks: An unordered list containing the tracks.
 *
 * @see template_preprocess_file_link()
 *
 * @ingroup themeable
 */
#}
<div class="media-audio-playlist">
  <audio {{ extravalue }}>
    <source type="audio/mp3" src="{{ first_track }}">
    Sorry, your browser does not support HTML5 audio.
  </audio>
  {{ tracks }}
</div>
